.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}

.modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: inherit;
  height: inherit;
  display: grid;
  place-items: center;
  z-index: 22;
}

.modal .modal-close-btn {
  color: var(--color-error);
  cursor: pointer;
}

.modal .modal-close-btn:hover {
  color: var(--color-error-hover);
}

.modal-container {
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background: rgb(21,21,26);
  background: linear-gradient(45deg, rgb(25, 25, 29) 0%, rgb(35, 35, 40) 100%); 
  border-radius: 20px;
  overflow: hidden;
  z-index: 220;
}

.modal-container .modal-top {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  background-color: var(--color-main-900);
  color: var(--color-accent-400);
  align-items: center;
  user-select: none;
}

.modal-container .modal-top h3 {
  color: var(--color-main-100);
  font-weight: 600;
  font-size: 1rem;
}

.modal-container .modal-body h4 {
  color: var(--color-accent-300);
}

.modal-container .modal-body {
  position: relative;
  padding: 2rem 2rem;
  color: var(--color-main-100);
  font-weight: 400;
}

.modal-body p {
  padding: 1rem;
  background-color: var(--color-main-500);
  border-radius: 20px;
}

.nav-buttons .nav-button {
  background: none;
  border: none;
  color: var(--color-info);
  cursor: pointer;
}

.nav-buttons .nav-button svg {
  font-size: 30px;
}

#settings-button:hover, #report-button:hover {
  transform: scale(1.2);
}