.eskalera {
  display: grid;
  grid-template-columns: repeat(2, 270px) 20px 250px;
  grid-template-rows: repeat(4, 90px);
  align-items: start;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  border-radius: 20px;
  justify-content: center;
  user-select: none;
}

.mallar-page .top {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.eskalera input,
.eskalera textarea,
.eskalera select {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  padding: 6px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--color-nav-100);
}

.eskalera .disabled-input {
  background-color: var(--color-main-700);
  color: var(--color-main-700);
}

.eskalera .disabled-form-group {
  display: flex;
  flex-direction: column;
  background-color: rgb(28, 28, 34);
  padding: 15px;
  height: 100%;
  border-radius: 10px;
  gap: 5px;
  -webkit-box-shadow: 4px 2px 10px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 2px 10px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 2px 10px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-main-400);
}

.eskalera .disabled-form-group label span {
  visibility: hidden;
}

.eskalera .form-group {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100%;
  border-radius: 10px;
  gap: 5px;
  background: rgb(53, 52, 66);
  background: -moz-linear-gradient(
    45deg,
    rgba(154, 148, 217, 0.281) 0%,
    rgba(55, 53, 66, 0.357) 70%,
    rgba(154, 148, 217, 0.281) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(154, 148, 217, 0.281) 0%,
    rgba(55, 53, 66, 0.357) 70%,
    rgba(154, 148, 217, 0.281) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(154, 148, 217, 0.281) 0%,
    rgba(55, 53, 66, 0.357) 70%,
    rgba(154, 148, 217, 0.281) 100%
  );
  -webkit-box-shadow: 4px 2px 10px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 2px 10px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 2px 10px 4px rgba(0, 0, 0, 0.25);
}

.eskalera label {
  font-weight: 500;
  margin-bottom: 5px;
}

.eskalera label span {
  color: var(--color-error);
}

.form-group textarea {
  resize: none;
  flex-grow: 1;
  user-select: none;
}

.eskalera .examples {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}

.eskalera .examples label {
  margin-bottom: 5px;
}

.eskalera .examples li {
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  list-style-type: none;
  width: 100%;
  background-color: var(--color-main-600);
  border-radius: 5px;
}

.eskalera .examples li button {
  display: grid;
  place-items: center;
  border: none;
  height: 25px;
  background: none;
  color: var(--color-error);
  cursor: pointer;
}

.eskalera .examples li button:hover {
  color: var(--color-error-hover);
}

.eskalera .examples .delete-btn {
  font-size: 1.25rem;
}

.eskalera .no-examples-text {
  color: var(--color-main-300);
}

.eskalera .buttons {
  display: flex;
  align-self: flex-end;
  gap:15px;
  grid-row: 4;
  grid-column: 4;
}

#reset-btn {
  display: grid;
  place-items: center;
  padding: 10px;
  background-color: var(--color-error);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  transition: all 100ms ease-in-out;
  -webkit-box-shadow: 4px 2px 10px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 2px 10px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 2px 10px 4px rgba(0, 0, 0, 0.25);
}

#reset-btn:hover {
  background-color: var(--color-error-hover);
}

.eskalera .buttons button:hover {
  background-color: var(--color-accent-200);
}

.eskalera #examples-btn {
  width: 80%;
  position: absolute;
  background: var(--color-nav-600);
  color: var(--color-main-100);
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.eskalera #examples-btn:hover {
  background: var(--color-nav-500);
}

.eskalera .saved-examples {
  overflow-y: scroll;
  height: 200px;
}

.eskalera #problem-container {
  grid-row: 1 / span 2;
  grid-column: 1;
}

.eskalera #troubleshooting-container {
  grid-row: 3 / span 2;
  grid-column: 1;
}

.eskalera #locationRel-container {
  grid-row: 1;
  grid-column: 2;
}

.eskalera #address-container {
  grid-row: 2;
  grid-column: 2;
}

.eskalera #problemStarted-container {
  grid-row: 3;
  grid-column: 2;
}

.eskalera #affectedUsers-container {
  grid-row: 4;
  grid-column: 2;
}

.eskalera #examples-container {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-row: 1 / span 3;
  grid-column: 4;
  background-color: var(--color-main-700);
  gap: 5px;
  padding: 15px;
  border-radius: 10px;
  height: 100%;
}


